

<canvas></canvas>
<script type="text/javascript" src="js/camera.js"></script>
<script type="text/javascript" src="js/faceDetector.js"></script>

<!-- STEPH: this styling is not optional -->
<div id="fallback-message" style="visibility: hidden;">
    <p>Your browser is not compatible with the software used in this application.</p>
    <a href="#">Click here for onboarding instructions in order to use the app.</a>
</div>
