

<canvas></canvas>
<script type="text/javascript" src="public/js/camera.js"></script>
<script type="text/javascript" src="public/js/faceDetector.js"></script>


<div id="fallback-message" style="visibility: hidden;">
    <p>Your browser is not compatible with the software used in this application.</p>
    <a href="#">Click here for onboarding instructions in order to use the app.</a>
</div>
