<script src="js/commons.js"></script>
<script src="js/drawing.js"></script>
<script src="js/faceDetectionControls.js"></script>

<!-- STEPH this styling is optional -->
<div style="position: relative" class="margin">
  <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
  <canvas id="overlay" style="color:red;"></canvas>
</div>

<script src="faceCam.js"></script>
