<!-- Materialize -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Face-API.js Scripts -->
<script src="js/commons.js"></script>
<script src="js/drawing.js"></script>
<script src="js/faceDetector.js"></script>
<script src="js/faceDetectionControls.js"></script>
<script src="js/face-api.js"></script>

<!-- STEPH this styling is optional -->
<div style="position: relative" class="margin">
  <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
  <canvas id="overlay" style="color:red;"></canvas>
</div>

<!-- Custom Script for Face-API -->
<script src="js/faceCam.js"></script>
 
