<link href="css/style.css" rel="stylesheet">

<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">

      <div class="mx-auto text-center">
        <h1 class="text-uppercase">Aurora</h1>
        <h2 class="text-uppercase">The Digital Mirror</h2><br>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">A Modern Way to Get Dolled Up</h3>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Explore</a>
      </div>

    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3 class="text-white mb-4">Apply Makeup with Ease</h3>
          <p class="copy">Aurora is a digital mirror <br> that uses image recognition <br> to give you your best look! <br>
          With great lightning, zoom, and image recognition, <br> you can be fully immersed in the experience.<br>
          It's the only fully custom makeup applying experience <br> available via desktop, Android and iOS!</p>
          <p class="warning">**Features vary from device to device**</p>
        </div>
      </div>
      {{!-- <img src="img/download.png" width="550px" class="img-fluid" alt="ipad image"> --}}
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h4 class="text-uppercase m-0">Step One</h4>
              <hr class="my-4">
              <div class="small text-black-50">Point your camera directly towards your face without obstructing your features.</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h4 class="text-uppercase m-0">Step Two</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">Press the zoom button to zoom enhance a  feature of your choice.</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h4 class="text-uppercase m-0">Step Three</h4>
              <hr class="my-4">
              <div class="small text-black-50">Apply your makeup. <br>Snap a picture of your finished product to upload send to others or share to social media.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a class="mx-2">
            <i class="fab fa-instagram"></i>
          </a>
        <a class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="mx-2">
          <i class="fab fa-snapchat-ghost"></i>
        </a>

      </div>

    </div>
  </section>
