<link href="public/css/grayscale.min.css" rel="stylesheet">

<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center" style="position: absolute; left:35em; top:32em;">
        <h2 class="title">AURORA </h2>
          <h2 class="text-white-50">Use image recognition <br>to help you apply makeup</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Explore</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Applying Makeup with Ease</h2>
          <p class="text-white-50">With Aurora, you can apply and reapply your makeup <br> with great lightning, zoom, and image recognition.<br>
          It's the only fully custom makeup applying experience <br> available via desktop!</p>
        </div>
      </div>
      <!-- <img src="img/download.png" width="550px" class="img-fluid" alt="ipad image"> -->
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!-- <i class="fas fa-map-marked-alt text-primary mb-2"></i> -->
              <h4 class="text-uppercase m-0">Step One</h4>
              <hr class="my-4">
              <div class="small text-black-50">Point your camera directly on your face without obstructing your features.</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!-- <i class="fas fa-envelope text-primary mb-2"></i> -->
              <h4 class="text-uppercase m-0">Step Two</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">Press the zoom button to zoom into the your features. Your eyes and mouth will be outlined.</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <!-- <i class="fas fa-mobile-alt text-primary mb-2"></i> -->
              <h4 class="text-uppercase m-0">Step Three</h4>
              <hr class="my-4">
              <div class="small text-black-50">Apply your makeup. Snap a picture of your finished product to upload send to others or upload to social media.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
            <i class="fab fa-instagram"></i>
          </a>
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-snapchat-ghost"></i>
        </a>
      </div>

    </div>
  </section>
