* {
  font-family: 'Varela Round';
}

.faceContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-scan {
  width: 640px;
  height: 480px;
  position: relative;
}

#overlay, #inputVideo {
  position: absolute;
  left: -37%;
  right: 90%;
  top: 18%;
  margin: 0;
  margin-right: 5em;
  width: 120%;
  height: 120%;
}

.hideme {
  display: none;
}

#selfie-image {
  width: 256px;
  height: 192px;
  position: relative;
  left: 12em;
  top: -51em;
  margin: 64em;
}

#inputVideo {
  position: absolute;
  top: 12em;
  left: 25%;
  z-index: -1;
}

#selfie-buttons {
  position: relative;
  margin-left: 50%;
}

input[type=checkbox]:checked~#overlay {
  display: none;
}

#hideLandmarks {
  z-index: 2;
}

hr {
  margin: 0
}

.checkbox {
  margin-left: 25em;
}

#emailForm {
  display: none;
  border: 6px solid salmon;
  padding: 2em;
  width: 300px;
  text-align: center;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 95px;
  /* overflow: hidden; */
}

.side-bar[data-position="left"]{
  position: absolute;
  left: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  min-height: 100%;
  width: 64px;
  background-color: #333;
}

.side-bar[data-position="right"]{
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  min-height: 100%;
  width: 64px;
  background-color: rgb(167, 37, 59);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
div.item {
  background-color: #444;
}

div.item {
  color: white;
  /* height: 64px;*/
  width: 64px; 
  line-height: 64px;
  text-align: center;
  font-size: 20px;
  margin-right: 0
}

div.item.bottom {
  position: absolute;
  bottom: 0;
}

div.heading {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 44px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 0px;
  background-color: #333;
}

div.item:hover {
  background-color:  rgb(167, 37, 59) ;
  cursor: pointer;
  visibility: visible;
}

div.side-panel {
  z-index: 999;
  left: -300px;
  position: absolute;
  min-width: 300px;
  min-height: 80%;
  height: auto !important;
  margin-bottom: -4em;
  background-color: #222;
  display: inline-block;
}

div.side-panel.open{
  animation-name: sidebar-open;
  animation-duration: .25s;
  left: 0;
}

div.side-panel.close{
  animation-name: sidebar-close;
  animation-duration: .25s;
  left: -300px;
}

/* Keyframes */
@keyframes sidebar-open {
  0% {
    left: -300px;
  }

  100% {
    left: 0;
  }
}

@keyframes sidebar-close {
  0% {
    left: 0;
  }

  100% {
    left: -300px;
  }
}

/* rightside */

#picture-buttons {
  position: absolute;
  top: 34%;
  right: 0;
  margin: 24px 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 5px 14px 3px rgba(0,0,0,0.2);
}

.photos, .preferences, .twitter, .facebook, .instagram {
  display: none;
}
.show-photos .photos {
  display: block;
}

.show-preferences .preferences {
  display: block;
}
  .show-twitter .twitter {
  display: block;
}
.show-facebook .facebook {
  display: block;
}
.show-instagram .instagram {
  display: block;
}

p, h4{
  color: white;
  margin: 10px;
  padding: 0px 20px;
  font-size: 14px;
}

span#content-heading {
  color: rgb(167, 37, 59);
  text-transform: uppercase;
  text-shadow: 2px 1px rgba(5,5,5);
  padding: 0px 20px;
}
